@import '../../../utility.scss';

.Slider {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden;

  .Slide {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 0.75s ease-in-out;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.Wrapper {
  overflow: hidden;
}

.Dotted {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  margin-top: 2rem;

  li {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--purple1);
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &:active {
      background-color: var(--white2);
    }
  }
}
