@import '../../../../utility.scss';

.SideDrawer {
  display: none;

  @include respond('small') {
    display: block;
  }

  .Side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    padding-top: 10rem;
    background-color: white;
    box-shadow: 0px -6px 16px rgba(black, 0.6);
    transition: 0.15s ease-out;
    transform: translateX(100%);

    ul {
      a {
        font-size: 3rem;
      }
      width: 100%;
      overflow: hidden;
      flex-flow: column;
      padding-left: 4rem;

      & > *:not(:last-child) {
        margin-bottom: 2.5rem;
      }
    }
  }
}
