.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(black, 0.3);
  transition: 0.15s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.Open {
  opacity: 1;
  pointer-events: all;
}
