@import '../../../utility.scss';

// .Button {
//   padding: 1.5rem 2rem;
//   font-size: 2rem;
//   border: none;
//   color: white;
//   font-weight: 500;
//   cursor: pointer;
//   text-transform: uppercase;
// }

// .accept {
//   background-color: var(--green2);
// }

// .cancel {
//   background-color: var(--red2);
// }

.Button {
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  background-color: var(--white1);
  position: relative;
  overflow: hidden;
  outline: none;
  transition: 0.1s ease-out;

  &:active {
    transform: scale(0.95);
  }

  p {
    position: relative;
    z-index: 10;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s ease-out;
    letter-spacing: 1px;
  }

  .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 5;
    transition: 0.1s ease-out;
  }

  @media (hover: hover) {
    &:hover {
      .hover {
        transform: translateY(0%);
      }
    }
  }

  @media (hover: none) {
    .hover {
      transform: translateY(0%);
    }
    color: white !important;
  }
}

.accept {
  color: var(--green2);
  border-color: var(--green2);

  .hover {
    background-color: var(--green1);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--white1);
    }
  }
}

.cancel {
  color: var(--red2);
  border-color: var(--red2);

  .hover {
    background-color: var(--red1);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--white1);
    }
  }
}
