@import '../../../../utility.scss';

.Links {
  display: flex;
  list-style: none;

  li {
    overflow: hidden;
  }

  a {
    position: relative;
    text-decoration: none;
    color: var(--purple1);
    font-size: 2.5rem;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--purple1);
      transform: translateX(-105%);
      transition: 0.2s ease-in;
    }

    &:hover {
      &::after {
        transform: translateX(0);
      }
    }
  }

  & > *:not(:last-child) {
    margin-right: 3rem;

    @include respond('big') {
      margin-right: 2rem;
    }
    @include respond('medium') {
      margin-right: 1.5rem;
      letter-spacing: -1px;
    }
  }
}
