@import '../../../utility.scss';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 100%;
  padding: 1.5rem 4rem;
  position: relative;
  height: 8rem;
  background-color: var(--white2);

  @include respond('big') {
    padding: 1.5rem 2rem;
  }
  @include respond('small') {
    position: fixed;
    top: 0;
    left: 0;
    height: 7rem;
  }

  .Title {
    display: flex;
    align-items: center;

    img {
      height: 5rem;
      margin-right: 1rem;
      @include respond('small') {
        height: 4rem;
        margin-right: 0.5rem;
      }
      @include respond('verysmall') {
        height: 3rem;
      }
    }
  }

  h1 {
    font-size: 4rem;
    font-family: 'Comic Neue', cursive;
    font-weight: 400;
    letter-spacing: -1px;
    margin-left: 0.5rem;

    span {
      color: var(--purple1);
    }

    @include respond('medium') {
      font-size: 3.5rem;
    }
    @include respond('small') {
      font-size: 3rem;
    }
    @include respond('verysmall') {
      font-size: 2.75rem;
    }
  }
}
