@import '../../../utility.scss';

.Hamburger {
  display: block;
  position: relative;
  width: 4.5rem;
  height: 3.5rem;

  span {
    position: absolute;
    display: block;
    background-color: var(--purple1);
    height: 4px;
    width: 100%;
    transition: 0.15s ease-in-out;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: calc(50% - 2.5px);
    }
    &:nth-child(3) {
      top: calc(100% - 5px);
    }
  }
}

.Checker {
  display: none;
}

.Checker ~ .Hamburger {
  span {
    &:nth-child(1) {
      animation-name: revham1;
    }
    &:nth-child(2) {
      animation-name: revham2;
    }
    &:nth-child(3) {
      animation-name: revham3;
    }
  }
}

.Checker:checked ~ .Hamburger {
  span {
    &:nth-child(1) {
      animation-name: ham1;
    }
    &:nth-child(2) {
      animation-name: ham2;
    }
    &:nth-child(3) {
      animation-name: ham3;
    }
  }
}

@keyframes ham1 {
  0% {
    top: 0;
  }
  50% {
    top: calc(50% - 2.5px);
  }
  100% {
    top: calc(50% - 2.5px);
    transform: rotateZ(45deg);
  }
}
@keyframes ham2 {
  0% {
    top: calc(50% - 2.5px);
  }
  50% {
    top: calc(50% - 2.5px);
  }
  100% {
    top: calc(50% - 2.5px);
    opacity: 0;
  }
}
@keyframes ham3 {
  0% {
    top: calc(100% - 5px);
  }
  50% {
    top: calc(50% - 2.5px);
  }
  100% {
    top: calc(50% - 2.5px);
    transform: rotateZ(-45deg);
  }
}

@keyframes revham1 {
  100% {
    top: 0;
  }
  50% {
    top: calc(50% - 2.5px);
  }
  0% {
    top: calc(50% - 2.5px);
    transform: rotateZ(45deg);
  }
}
@keyframes revham2 {
  100% {
    top: calc(50% - 2.5px);
  }
  50% {
    top: calc(50% - 2.5px);
  }
  0% {
    top: calc(50% - 2.5px);
    opacity: 0;
  }
}
@keyframes revham3 {
  0% {
    top: calc(50% - 2.5px);
    transform: rotateZ(-45deg);
  }
  50% {
    top: calc(50% - 2.5px);
  }
  100% {
    top: calc(100% - 5px);
  }
}
