@import '../../../utility.scss';

.Banner {
  --animation: slideIn 1s ease-out both;
  --delay1: 0s;
  --delay2: 0.5s;
  --delay3: 0.8s;
  --delay4: 0.95s;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(rgba(#ebeaef, 0.92), rgba(#ebeaef, 0.92)),
    url('../../../assets/images/background/background3M.jpg');
  background-position: center;
  background-size: cover;
  background-color: var(--white2);
  text-align: center;
  padding: 0 2rem;
  padding-bottom: 10rem;
  height: 82vh;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @include respondVert('medium') {
    padding-bottom: 2rem;
  }

  @include respond('small') {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 7rem;
    height: 80vh;
    padding-bottom: 0rem;
  }

  @include respondVert('small') {
    padding-bottom: 0rem;
  }

  .Title {
    font-size: 7rem;
    letter-spacing: 3px;
    font-weight: 400;
    margin-bottom: 2rem;
    animation: var(--animation);
    animation-delay: var(--delay1);

    @include respondVert('medium') {
      font-size: 5rem;
      margin-bottom: 1rem;
    }

    @include respond('huge') {
      letter-spacing: 0px;
    }
    @include respond('big') {
      font-size: 6rem;
    }
    @include respond('medium') {
      line-height: 1.2;
    }
    @include respond('small') {
      margin-bottom: 1rem;
      font-size: 5rem;
    }
    @include respond('verysmall') {
      font-size: 4rem;
    }

    @include respondVert('small') {
      font-size: 4rem;
    }
  }

  .Subtitle {
    width: 45%;
    margin-bottom: 5rem;
    font-size: 4rem;
    line-height: 1.3;
    color: var(--purple1);
    animation: var(--animation);
    animation-delay: var(--delay2);

    @include respondVert('medium') {
      font-size: 3rem;
      margin-bottom: 3rem;
    }

    @include respond('huge') {
      width: 60%;
    }
    @include respond('big') {
      font-size: 3.5rem;
      margin-bottom: 4rem;
      width: 70%;
    }
    @include respond('medium') {
      font-size: 3rem;
      width: 80%;
    }
    @include respond('small') {
      margin-bottom: 2.5rem;
      width: 90%;
    }
    @include respond('verysmall') {
      margin-bottom: 1rem;
      font-size: 2.5rem;
      width: 95%;
    }

    @include respondVert('small') {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  }

  .Description {
    display: inline-block;
    width: 40%;
    margin-bottom: 4rem;
    font-size: 2.5rem;
    line-height: 1.5;
    animation: slideInLow 1s ease-out both;
    animation-delay: var(--delay3);

    @include respondVert('medium') {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    @include respond('huge') {
      width: 60%;
    }
    @include respond('big') {
      font-size: 2.25rem;
      width: 70%;
    }
    @include respond('medium') {
      width: 80%;
      line-height: 1.2;
    }
    @include respond('small') {
      width: 90%;
      margin-bottom: 2rem;
      font-size: 1.8rem;
    }
    @include respond('verysmall') {
      font-size: 1.6rem;
      margin-bottom: 1rem;
      width: 95%;
    }

    @include respondVert('small') {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
  }

  .Greeting {
    width: 45%;
    font-size: 3.5rem;
    line-height: 1.4;
    color: var(--purple1);
    animation: var(--animation);
    animation-delay: var(--delay4);

    @include respondVert('medium') {
      font-size: 3rem;
    }

    @include respond('huge') {
      width: 60%;
    }
    @include respond('big') {
      font-size: 3rem;
      width: 70%;
    }
    @include respond('medium') {
      width: 80%;
      line-height: 1.2;
    }
    @include respond('small') {
      width: 90%;
      font-size: 2.5rem;
    }
    @include respond('verysmall') {
      width: 95%;
      font-size: 2rem;
    }

    @include respondVert('small') {
      width: 95%;
      font-size: 2rem;
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLow {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
