@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600&display=swap');
@import './utility.scss';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-weight: 400;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond('big') {
    font-size: 57.5%;
  }
  @include respond('medium') {
    font-size: 52.5%;
  }
  @include respond('small') {
    font-size: 50%;
  }
}

body {
  font-size: 1.8rem;
  @include respond('verysmall') {
    font-size: 1.5rem;
  }

  font-family: 'Baloo Thambi 2', cursive !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
